<!DOCTYPE html>

{% extends "ting/tingsweb-layout.html" %}


{% block body %}
    <div class="main">
        <ul class="m-3 nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link text-dark" href="/register" role="button">Sign up</a>
            </li>
        </ul>
    </div> 
    <div class="text-center">
        <h1 class="m-5">Ting's Practise Web</h1>
    </div>
    <form action="/logined" method="post">
            <div class="col-4 offset-4">
                <div class="mb-2">
                    <!-- <i class="fa-regular fa-face-rolling-eyes fa-2xl"></i> -->
                    <label for="inputUsername">Username:</label>
                    <input type="text" class="form-control" name="username" id="inputUsername" placeholder="Username">
                </div>
                <div class="mb-2">
                    <label for="inputPassword">Password:</label>
                    <input type="password" class="form-control" name="password" id="inputPassword" placeholder="Password">
                </div>
                <p style="color:red;">{{ error }}</p>
                <button type="submit" class="btn btn-primary mt-2">Log in</button>

            </div>
    </form>

{% endblock %}